*{margin: 0;padding: 0;outline: 0}

body{font-family: Bell MT;
	font-size:18px;
	line-height: 29px;color: black;background:repeat fixed 0 0 #fff; }
.templete{width: 960px;margin: 0 auto;}
.clear{overflow: hidden;}
input[type="text"],input[type=email] 
     {border: 1px solid black
      border-radius:3px;
      margin-bottom: 5px;
      padding: 5px;
      width: 300px}
input[type="submit"]{text-decoration: none;
           background: red;
           padding: 4px 8px;
           display:block;
           font-size: 17px
           color:  solid black;
           border: 1px solid black;
           border-radius: 3px;}
input[type="submit"]:hover{background: black;color:white}
textarea{ height: 110px;
         margin-bottom: 10px;
         padding: 5px;
         width: 300px;
         border: 1px solid black } 
.headersection{height: 90px;
	           background: #80f9fa;
	           color: blue;
           }
.headersection h2{position: relative;
               font-size: 30px;
	             padding-top: 40px;
	             text-align: center}   
.headersection img{float: left;
                   width: 100px;
                   height: 100px;
                   background: #555}
.social{width: 255px;padding-top: 5px}
.social img{width: 40px;
  transform: (-360deg) scale(1);
  transition: 2s;

}
.social img:hover{color: white;
  transform: rotate(360deg) scale(1.2);
  transition: 2s;}             
.navsection{background: black;}
.navsection ul{margin: 0;padding: 0;list-style: none;}
.navsection ul li{display: block;float: left;}
.navsection ul li a{display: block;
	               background: black none repeat scroll 0 0;
	               text-decoration: none;
	               color: #26BAEE;
	               padding: 5px 15px;
	               margin: 5px;
	               font-weight: bold;
	               font-size: 20px;
	               border: 1px solid black;
	               border-radius: 2px
	               color:#fff;}
.navsection ul li a:hover{background:black;color: white;}
.slidersection{margin-bottom: 5PX;
                }	               
.contentsection{background: white;}
.maincontent{width: 628px; 
	background: white;
	float: left;
	margin: 0px 15px 15px 0;
	padding: 8px 20px;
    border: px solid black;}
.about{} 
.about h2{border-bottom: 1px solid #7eeff9;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 24px;}
.about img{background: white none repeat scroll 0 0;
             border: 1px solid black;
             float: left;
             margin-right: 10px;
             padding: 5px;
             width:300px;
             height:190px;
             } 


.samepost p{font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px
            text-align:justify; }
.samepost h2{border-bottom: 2px solid #555555;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 24px;
          }
.samepost img{background: white none repeat scroll 0 0;
             border: 1px solid black;
             float: left;
             margin-right: 10px;
             padding: 5px;
             width:150px }
.samepost p{font-size: 16px;
           line-height: 23px;
           text-align: justify;}

.readmore{float: right;
          margin-top: 10px;}	
.readmore a{text-decoration: none;
           background: ;
           padding: 4px 8px;
           display:block;
           font-size: 17px
           color:  black;
           border: 1px solid black;
           border-radius: 3px;}
.readmore a:hover{background:black;color: white;}
.sidebar{width: 253px;
	text-align:center;
	float: right;
	padding: 10;
	margin-top: 0px;
	margin-bottom: 15px;
	background:white none repeat scroll 0 0;
    border: px solid black;
     }
.samesidebar {margin-bottom: 10px}
.samesidebar ul{padding: 0;margin:0;list-style: none;}
.samesidebar ul li{ border: 1px solid black;
           border-radius: 3px;
                  font-size: 16px;
                  padding: 5px 8px 5px 0
                  }
.samesidebar ul li a:last-child{border-bottom: 0px dashed black;}                 
.samesidebar ul li a{color: black;
	               display: block;
                    text-decoration: none;
                     }
.samesidebar ul li a:hover{color: white;text-shadow: 1px 1px 1px #555; }
.samesidebar h3{background:white none repeat scroll 0 0;
             padding: 10px;
             color: black;
             margin-bottom: 8px;
             border-bottom: 3px solid ;
              border-radius: 3px;}
.samesidebar p{margin-bottom: 10px}
.bar1{background-color: #ffc2e9;}
.bar2{background-color: #ff9280;}
.bar3{background-color: #a8026f;}
.bar4{background-color: #7874f2;}
.bar5{background-color: #73d2f3;}

.footersection{height: 90px;background: #21aba5;text-align: center;color: yellow}
.footermenu{margin-top: 50px;margin-bottom: 25px;}
.footermenu ul{padding: 0; margin: 0;list-style: none;text-align: center;}
.footermenu ul li{display: block;float: left;}
.footermenu ul li a{display:inline-block;}
.footersection p{padding: 5px}

#gallery {clear: both; 
  margin: 70px; 
  padding: 80px; 
}

#gallery ul { 
  margin: 0; 
  padding: 0; 
  list-style: none; 
}

#gallery ul li { 
  position: relative; 
  display: block; 
  float: left; 
  width: 280px; 
  margin: 0 30px 30px 0; 
  padding: 8px; 
  border: 1px solid #ccc; 
}

.gallery ul .lmb { 
  margin: 0 0 30px 0; 
}

.gallery ul li a img {
             margin-right: 10px;
             padding: 5px;
             width:190px;
             height:100px; 
  border: 1px solid #ccc; 
  margin-bottom: 5px; 
}

.gallery ul li  span {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 100px;
  height: 24px;
  text-align: center;
  background: url(../images/tooplate_lp_btn.png);
}

